/*EXTERNAL STYLESHEET*/

/*NOTES:*/
/*1. Absolute units (e.g. px) refer to a fixed size. 
Relative units (e.g %, em, vw, vh) change with regard to the size of a parent element or the screen size.*/
/*2. Specificity: #id 100points, .class and pseudo take 20points, element tag 1 point*/
/*3. Block display eg <p> <h1> <div> take up entire width of browser and appear blow each other. 
Inline display e.g. <a href><span> which only take as much space as content inside of it needs. 
Inline elements cannot be given width or height.
Can change display: inline or block. "inline-block" will keep element as inline display but allow width and height like a block element*/
/*4. RELATIVE of ABSOLUTE. position : relative allows us to move it relative to where it was by default 
using top/bottom/left/right: 10px etc. other elements not affected.
position: absolute the element is taken out of the static flow of the document and positions itself relative to its parent, so other elements may move.*/
/*BOX MODEL: margin etc. are all calculated into width and height unless you add "box-sizing: border-box;"*/
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
       border: 2px solid yellow; /*TEMP BORDER to be deleted*/
     }

p {
  font-family: 'Roboto', sans-serif;
     border: 2px solid green; /*TEMP BORDER to be deleted*/
}

h1 {
    text-shadow: 5px 5px 15px black;
    font-size: 80px;
    text-align: center;
    color: #e1ebef;
    font-family: 'Caveat', cursive;
      border: 2px solid orange; /*TEMP BORDER to be deleted*/
  }

  h3 {
    text-shadow: 8px 6px 9px black;
    text-shadow: 5px 5px 15px black;
    font-size: 50px; 
    text-align: center;
    color: #e1ebef;
    font-family: 'Caveat', cursive;
      border: 2px solid orange; /*TEMP BORDER to be deleted*/
  }

  /*BACKGROUND IMAGE*/
  .hero-image {
    background-image: url("../images/ocean13.jpg"); /*image used*/
    background-color: black; /*the background color will display while the image is loading and if the image does not load*/
    height: 1800px; /*image height set - the image should be sized to this size to save time loading page*/
    background-position: center center; /* the image is positioned in the centre vertically and horizontally always*/
    background-repeat: no-repeat; /* the image appears once in the page and is not repeated*/
    background-size: cover; /*resize the image to cover the full container and rescale image based on container size*/
    position: relative; 
       border: 10px dashed rgb(128, 17, 17); /*TEMP BORDER to be deleted*/
    
  }
 

/*END BACKGROUND IMAGE*/
 
  /*HEADER*/
 header {
      color: #e1ebef;
       border: 10px dotted slateblue; /*TEMP BORDER to be deleted*/
      position: relative;      
       text-align: center; /*text in footer will align to the center of the webpage*/
       width: 100%;
       height: 100px;
       margin-top: 50px; /*below navbar*/
       text-shadow: 8px 6px 9px black;
 }

 /*wave animation*/
.wavy {  /*reflection*/
  position: relative;
  -webkit-box-reflect: below -22px linear-gradient(transparent, rgba(0,0,0,0.2));
}

.wavy span {
  position: relative;
  display: inline-block;
  animation: animate 10s ease-in-out infinite; 
  animation-delay: calc(0.5s * var(--w));
}

@keyframes animate {
  0%
  {
    transform: translateY(0px);
  }
  20%
  {
    transform: translateY(-20px);
  }
  40%, 100%
  {
    transform: translateY(0px);
  }
}
/*end wave animation*/

  /*END HEADER*/

  /*NAVBAR - nav only*/

  nav ul{
    list-style: none; /*removes default dots marking list items*/
    background-color: transparent; /*navbar is transparent so that you can see the background image*/
    position: fixed; /*navbar stays at the top of the page regardless of scrolling*/
    top: 0px;
    width: 100vw;/*this is the width of my website and background image*/
    overflow: hidden;
      border: 2px solid red; /*border to show container - to be deleted*/
  }
  
  nav li {
    float: left; /*navbar stays on the left of its container*/
  }
  
  nav li a {
    text-shadow: 8px 6px 9px black;
    display: inline;
    color: #e1ebef;
    font-family: 'Permanent Marker', cursive; 
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav :hover { /*Pseudo class when mouse hovers over element. The entire nav is affected by hover*/
    background-color:  #061927;
  }

  nav li a:hover { /*Pseudo class on hover. Only the relevant nav tab is affected by hover*/
    color:#0a7891; /*text color changes when the mouse hovers over it*/
  }
  /*NAVBAR END*/
  

  /*PAGES OTHER THAN HOME PAGE*/

 main {  
  padding: 10px;
  height: 77%;
    border: 10px solid lightcoral; /*border to show container - to be deleted*/
    

 }

  /*FOOTER*/
   #footer {
     color: #004b62;
     font-family: 'Roboto', sans-serif;
     position: absolute; /*the footer is taken out of the static flow of the document and positions itself relative to its parent.*/
     bottom: 0px;/*the footer moves to the bottom of the parent*/
     display: inline-block; /*keeps element as inline display but allows width and height like a block element*/
     width: 100%;
     height: 200px;
     background-color: transparent;
        border: 5px solid purple; /*border to show container - to be deleted*/
      }
    
    #footer :hover { /*Pseudo class when mouse hovers over element. The entire nav is affected by hover*/
        color: #e1ebef;
        width: 100%;
        height: 100%;
        background:  #00090f; 
      /*box shadow effect*/
      -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 49px 16px #000000; 
      box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 49px 16px #000000;
      /*time*/
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
    }
      
    #footer p {
      text-align: center; /*text in footer paragraph will align to the center*/
      
    }

  /*END FOOTER*/
   /*IMAGES*/
  /*Home Page Portrait Image*/
  #homeportrait {
    height: 50%;
    /*box shadow effect*/
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 49px 16px #000000; 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 0px 0px 49px 16px #000000;
    /*center*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*round image corners*/
    border-radius: 5px;
    } 
      
  #homeportrait:hover {
    -webkit-filter: saturate(50%); /*drains color from image but not black and white*/
    -webkit-transition: all 2s ease;
       -moz-transition: all 2s ease;
         -o-transition: all 2s ease;
        -ms-transition: all 2s ease;
            transition: all 2s ease;
            -webkit-transform: scale(1.5, 1.5);
            -moz-transform: scale(1.5, 1.5);
            -o-transform: scale(1.5, 1.5);
            transform: scale(0.9, 0.9);
  }

    
