



body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
     }

p {
  font-family: 'Roboto', sans-serif;
}


  /*BACKGROUND IMAGE AND HERO TEXT ON INDEX PAGE*/
  .hero-image {
    background-image: url("../images/ocean13.jpg"); /*image used*/
    background-color: black; /*the background color will display while the image is loading and if the image does not load*/
    height: 1800px; /*image height set - the image should be resized to this size to save time loading page*/
    background-position: center center; /* the image is positioned in the centre vertically and horizontally always*/
    background-repeat: no-repeat; /* the image appears once in the page and is not repeated*/
    background-size: cover; /*resize the image to cover the full container and rescale image based on container size*/
    position: relative; 
    
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text h1{
    font-family: 'Condiment', cursive;
    font-size: 70px;
  }

  .hero-text h3{
    font-family: 'Condiment', cursive;
    font-size: 40px;
  }

/*END BACKGROUND IMAGE*/
 
  /*HEADER*/
 header {
   color: white;
   
 }
  /*END HEADER*/

  /*NAVBAR - nav only*/
  
  nav ul{
    list-style: none;
    margin: 10px;
    padding: 10px;
    background-color: transparent; /*navbar is transparent so that you can see the background image*/
    position: fixed; /*navbar stays at the top of the page regardless of scrolling*/
    top: 10px;
    width: 100%;
    overflow: hidden;
  }
  
  nav li {
    float: left; /*navbar stays on the left of its container*/
  }
  
  nav li a {
    display: inline;
    color: white;
    font-family: 'Permanent Marker', cursive; 
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: black;
  }

  /*NAVBAR END*/
  

  /*PAGES OTHER THAN HOME PAGE*/

 main {   
    color: white;
    padding: 40px; /*without padding, the content in the container overlaps with the navbar*/
    
    
  }

  /*FOOTER*/
   footer {
     text-align: center;
     color: white;
     font-family: 'Roboto', sans-serif;
     /*this needs to be moved to to the bottom of the container*/
   }

   /*IMAGES*/

 img .large {   /*the image is not displaying and this needs to be fixed*/
  position: relative;  
  height: 50%;
  
 }